<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet'>
    <script src="/js/main.js" defer></script>
    <title>COMP4711 - Lab05</title>
</head>
<body>
    <div id="DirectoryContainer">
        <h1>Artist Directory</h1>
        <input type="text" placeholder="Search for an Artist" id="searchText">&nbsp
        <button id="addArtistBtn">Add</button>
        <button id="searchArtistBtn">Search</button>
    </div>
    <div id="FormContainer">
        <form id="artistForm">
            <input type="text" placeholder="Artist Name" class="ArtistForm" id="artistNameForm" required>
            <input type="text" placeholder="About the Artist" class="ArtistForm" id="aboutArtistForm" required>
            <input type="url" placeholder="Image URL" class="ArtistForm" id="imageURLForm">
            <input type=submit value="Add">

        </form>
    </div>

    <div class="ListContainer" id="listOfArtists">
        <ul id="theUL">
        </ul>

    </div>
</body>
</html>